  .cramers-rule {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .gauss-jordan {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .gauss-elimination {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .matrix-inversion {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .matrix-inversion {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .Lu-decomposition {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .cholesky-decomposition {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .jacobi-iteration {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .gauss-seidel {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .conjugate-gradient-method {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .label {
    font-size: 16px;
  }
  
  .num-rows-input {
    padding: 5px;
  }
  
  .matrix-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .matrix-row {
    display: flex;
    gap: 10px;
  }
  
  .matrix-input {
    padding: 5px;
    width: 50px;
    text-align: center;
  }
  
  .calculate-button {
    padding: 5px 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .result-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
  
  .result {
    font-size: 16px;
  }
  